.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	opacity: 0;
}

.top {
	opacity: 1;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	position: absolute;
}

.title {
	position: fixed;
	left: 20px;
	bottom: 36px;
	font-size: 120px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
}