.wrapper {
	position: fixed;
	width: 100%;
	height: 100dvh;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0;
}

.top {
	opacity: 1;
}

.imageEl {
	width: 100%;
	height: 100dvh;
	object-fit: cover;
	z-index: -1;
	position: absolute;
	left: 0;
}

.imgTag {
	@media (min-width: 993px) {
		display: none;
	}
}

.title {
	position: fixed;
	left: 20px;
	bottom: 36px;
	font-size: 120px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;

	hyphens: auto;
	width: calc(100% - 40px);

	@media (max-width: 992px) {
		font-size: 100px;
	}

	@media (max-width: 768px) {
		font-size: 50px;
		bottom: 120px;
	}

	@media (max-width: 560px) {
		font-size: 40px;
		left: 12px;
	}

	@media (max-width: 425px) {
		font-size: 32px;
	}
}