@use "@/global/scss/vars";

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 100%;
	padding: 24px 16px;

	// *===============*

	background-color: transparent;
	border-bottom: transparent 1px solid;

	[data-scroll] body:not(:has([data-prevent-header])) & {
		background-color: vars.$background;
		border-bottom-color: vars.$borders;
	}

	@media (max-width: vars.$tablet) {
		padding-block: 16px;
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1920px;
}