@use "@/global/scss/vars";

.tabslist {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 16px;

	@media (max-width: vars.$medium) {
		justify-content: flex-start;
		gap: 8px;
	}
}